@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Martel:wght@300&family=Roboto&family=Spartan&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ccdce9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b8bec0,
    #ccdce9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b8bec0,
    #ccdce9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  background-color: white;
  padding: 30px 20px;
  color: gray;
  text-transform: uppercase;
  font-family: 'Spartan', sans-serif;
  letter-spacing: 2px;
  word-spacing: 3px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 10px -15px #111;
}

.cards {
  width: 100%;
  height: auto;
}

.card {
  /* Add shadows to create the "card" effect */
  width: 22%;
  margin: 20px 30px 20px 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0, 1);
  border-radius: 10px; /* 5px rounded corners */
  float: left;
  cursor: pointer;
  background-color: #fff;
}

.card img {
  border-radius: 10px 10px 0 0;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0px 0px 26px 8px rgba(0, 0, 0, 0.79);
}

/* Add some padding inside the card container */
.card__info {
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__info span {
  text-transform: uppercase;
  color: rgb(139, 139, 139);
  letter-spacing: 1.4px;
  font-family: 'Roboto', sans-serif;
}

.card__info h3 {
  padding: 10px 0px;
  font-family: 'Martel', serif;
}

.card__info button {
  outline: none;
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
  text-transform: capitalize;
  font-family: 'Cinzel', serif;
  transition: all 0.3s ease-in;
  background-color: rgb(255, 0, 98);
}

.card__info button:hover {
  color: rgb(255, 0, 98);
  border: 2px solid rgb(255, 0, 98);
  background-color: #fff;
}
